body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:605px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:605px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:341px;
  top:577px;
  width:353px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:30px;
  top:31px;
  width:429px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:73px;
  top:120px;
  width:100px;
  height:88px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:88px;
}
#u7 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:70px;
  top:218px;
  width:112px;
  height:23px;
  font-size:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:233px;
  top:120px;
  width:100px;
  height:88px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:88px;
}
#u11 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:266px;
  top:218px;
  width:35px;
  height:23px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:400px;
  top:120px;
  width:100px;
  height:88px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:88px;
}
#u15 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:418px;
  top:218px;
  width:64px;
  height:23px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:568px;
  top:123px;
  width:79px;
  height:92px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:92px;
}
#u19 {
  position:absolute;
  left:2px;
  top:38px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:590px;
  top:225px;
  width:35px;
  height:23px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:735px;
  top:123px;
  width:79px;
  height:92px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:92px;
}
#u23 {
  position:absolute;
  left:2px;
  top:38px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:754px;
  top:225px;
  width:34px;
  height:23px;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:250px;
  top:288px;
  width:120px;
  height:84px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:84px;
}
#u27 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:275px;
  top:382px;
  width:78px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:568px;
  top:288px;
  width:106px;
  height:100px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:100px;
}
#u31 {
  position:absolute;
  left:2px;
  top:42px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:575px;
  top:388px;
  width:99px;
  height:23px;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:23px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:70px;
  top:290px;
  width:130px;
  height:81px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:81px;
}
#u35 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:98px;
  top:384px;
  width:75px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:418px;
  top:278px;
  width:102px;
  height:112px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:112px;
}
#u39 {
  position:absolute;
  left:2px;
  top:48px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:418px;
  top:390px;
  width:110px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:746px;
  top:296px;
  width:79px;
  height:92px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:92px;
}
#u43 {
  position:absolute;
  left:2px;
  top:38px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:750px;
  top:398px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:30px;
  top:69px;
  width:115px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:605px;
  opacity:0.699999988079071;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:605px;
}
#u49 {
  position:absolute;
  left:2px;
  top:294px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:256px;
  top:140px;
}
#u50_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:271px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:271px;
}
#u52 {
  position:absolute;
  left:2px;
  top:128px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:104px;
  top:37px;
  width:97px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:25px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:77px;
  top:92px;
  width:171px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:25px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:77px;
  top:147px;
  width:161px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u59 {
  position:absolute;
  left:77px;
  top:203px;
  width:169px;
  height:25px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:25px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:24px;
  top:72px;
  width:280px;
  height:10px;
}
#u61_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u61_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u62 {
  position:absolute;
  left:24px;
  top:127px;
  width:280px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u63 {
  position:absolute;
  left:24px;
  top:182px;
  width:280px;
  height:10px;
}
#u63_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_end {
  position:absolute;
  left:263px;
  top:-5px;
  width:18px;
  height:20px;
}
#u63_line {
  position:absolute;
  left:0px;
  top:5px;
  width:280px;
  height:1px;
}
#u64 {
  position:absolute;
  left:325px;
  top:169px;
  width:162px;
  height:39px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
}
#u65 {
  position:absolute;
  left:2px;
  top:12px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:39px;
  top:644px;
  width:426px;
  height:96px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:96px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  white-space:nowrap;
}
