body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:153px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:54px;
  top:0px;
  width:241px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:295px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:385px;
  top:0px;
  width:85px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:54px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:36px;
}
#u10 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:54px;
  top:30px;
  width:241px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:36px;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:295px;
  top:30px;
  width:90px;
  height:36px;
  font-size:16px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:86px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:385px;
  top:30px;
  width:85px;
  height:36px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:36px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:66px;
  width:54px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:6px;
  width:50px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:54px;
  top:66px;
  width:241px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:237px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:295px;
  top:66px;
  width:90px;
  height:30px;
  font-size:16px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:385px;
  top:66px;
  width:85px;
  height:30px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:96px;
  width:54px;
  height:52px;
  font-size:16px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:52px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:50px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:54px;
  top:96px;
  width:241px;
  height:52px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:52px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:237px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:295px;
  top:96px;
  width:90px;
  height:52px;
  font-size:16px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:52px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:385px;
  top:96px;
  width:85px;
  height:52px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:52px;
}
#u32 {
  position:absolute;
  left:2px;
  top:18px;
  width:81px;
  word-wrap:break-word;
}
