body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:605px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:605px;
}
#u1 {
  position:absolute;
  left:2px;
  top:294px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:30px;
  top:31px;
  width:429px;
  height:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:28px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:73px;
  top:120px;
  width:100px;
  height:88px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:88px;
}
#u5 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:218px;
  width:112px;
  height:23px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:233px;
  top:120px;
  width:100px;
  height:88px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:88px;
}
#u9 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:266px;
  top:218px;
  width:35px;
  height:23px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:400px;
  top:120px;
  width:100px;
  height:88px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:88px;
}
#u13 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:418px;
  top:218px;
  width:64px;
  height:23px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:568px;
  top:123px;
  width:79px;
  height:92px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:92px;
}
#u17 {
  position:absolute;
  left:2px;
  top:38px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:590px;
  top:225px;
  width:35px;
  height:23px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:735px;
  top:123px;
  width:79px;
  height:92px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:92px;
}
#u21 {
  position:absolute;
  left:2px;
  top:38px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:754px;
  top:225px;
  width:34px;
  height:23px;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:250px;
  top:288px;
  width:120px;
  height:84px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:84px;
}
#u25 {
  position:absolute;
  left:2px;
  top:34px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:275px;
  top:382px;
  width:78px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:21px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:568px;
  top:288px;
  width:106px;
  height:100px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:42px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:575px;
  top:388px;
  width:99px;
  height:23px;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:23px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:70px;
  top:290px;
  width:130px;
  height:81px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:81px;
}
#u33 {
  position:absolute;
  left:2px;
  top:32px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:98px;
  top:384px;
  width:75px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:418px;
  top:278px;
  width:102px;
  height:112px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:112px;
}
#u37 {
  position:absolute;
  left:2px;
  top:48px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:418px;
  top:390px;
  width:110px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:746px;
  top:296px;
  width:79px;
  height:92px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:92px;
}
#u41 {
  position:absolute;
  left:2px;
  top:38px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:750px;
  top:398px;
  width:81px;
  height:21px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:21px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:330px;
  top:660px;
  width:7px;
  height:-241px;
}
#u44_seg0 {
  position:absolute;
  left:-10px;
  top:-251px;
  width:20px;
  height:255px;
}
#u44_seg1 {
  position:absolute;
  left:-10px;
  top:-251px;
  width:21px;
  height:20px;
}
#u45 {
  position:absolute;
  left:-50px;
  top:-132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:331px;
  top:657px;
  width:257px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:774px;
  top:650px;
  width:0px;
  height:-240px;
}
#u48_seg0 {
  position:absolute;
  left:-10px;
  top:-244px;
  width:20px;
  height:254px;
}
#u49 {
  position:absolute;
  left:-50px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:736px;
  top:670px;
  width:214px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:13px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:40px;
  top:650px;
  width:0px;
  height:-580px;
}
#u52_seg0 {
  position:absolute;
  left:-10px;
  top:-402px;
  width:20px;
  height:406px;
}
#u52_seg1 {
  position:absolute;
  left:-11px;
  top:-402px;
  width:21px;
  height:20px;
}
#u52_seg2 {
  position:absolute;
  left:-11px;
  top:-590px;
  width:20px;
  height:208px;
}
#u52_seg3 {
  position:absolute;
  left:-11px;
  top:-590px;
  width:15px;
  height:20px;
}
#u53 {
  position:absolute;
  left:-50px;
  top:-299px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:20px;
  top:660px;
  width:257px;
  height:48px;
  font-size:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:48px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:233px;
  top:720px;
  width:197px;
  height:48px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:48px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:30px;
  top:69px;
  width:115px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:341px;
  top:577px;
  width:353px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:49px;
  top:104px;
  width:148px;
  height:144px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:144px;
}
#u63 {
  position:absolute;
  left:2px;
  top:64px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
